
.skip-link {
  position: absolute;
  top: 40px;
  left: 0;
  background: black;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}


nav {
  display: inline-block;
  width: 100%;
  background-color: white;
}


nav img {
  width: 20%;
}


.grid {
  display: flex;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: start;
  row-gap: 50px;
}


.grid img {
  width: 100%;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}